<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/styles/styles.css">
</head>
<body>
    <h1 class="producto__titulo">{{titulo}}</h1>
    <h3 class="producto__precio">$ {{precio}} </h3>
    {{#if imagen}}
    <img class="producto__imagen" src="{{imagen}}"
    {{else}}
    <p> No hay imagen, soory not sorry </p>
    {{/if}}
    {{#unless disponible}}
    <p>Producto no dispobible</p>
    {{/unless}}
    <p class="producto__descripcion"> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Libero debitis a quod voluptates voluptatem eos assumenda magni iusto nostrum eveniet, culpa, enim odit sequi rem, consequatur nihil quo nobis et.</p>
</body>
</html>